In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os

In [52]:
df=pd.read_csv("Synnax Kaggle 1 Train.csv")

In [53]:
df.head()

,quarter_day_label,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q1_7,q1_8,q1_9,...,q3_83,q3_84,q3_85,q3_86,q3_87,q3_88,q3_89,q3_90,q3_91,q3_92
0,tax_effect_of_unusual_items,-92628,-86829,-75074,-79744,-93119,-83990,-72336,-72778,-65196,...,-17697,-22915,-21247,-20581,-17364,-22588,-21463,-23010,-20692,-15048
1,reconciled_depreciation,249593,295426,284126,255778,298705,257857,222372,278122,215063,...,812859,652658,683840,717615,583314,684132,699633,732228,662322,1777417
2,reconciled_cost_of_revenue,726156,617270,550131,609768,628772,614452,576283,525452,563534,...,678462,582796,581133,581931,625793,520602,506575,593623,695095,328903
3,net_interest_income,0,0,0,0,0,0,0,0,0,...,45241,45241,45241,0,0,0,0,0,0,0
4,interest_income,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df=df.transpose()

In [55]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
quarter_day_label,tax_effect_of_unusual_items,reconciled_depreciation,reconciled_cost_of_revenue,net_interest_income,interest_income,total_expenses,tax_provision,other_income_expense,other_non_operating_income_expenses,special_income_charges,...,current_deferred_revenue,current_capital_lease_obligation,pensionand_other_post_retirement_benefit_plans...,payables_and_accrued_expenses,current_accrued_expenses,accounts_payable,other_non_current_assets,non_current_prepaid_assets,financial_assets,other_intangible_assets
q1_1,-92628,249593,726156,0,0,1105282,-69538,-4303428,75224,-6283549,...,13220399,1389204,5900799,64347348,40783752,14927002,356500,0,167327302,20163749
q1_2,-86829,295426,617270,0,0,998330,-67355,-5002715,59177,-5938779,...,13189016,1393163,5876728,64044908,40503402,15000866,356500,0,167138077,20239479
q1_3,-75074,284126,550131,0,0,1145334,-75659,-5049685,83940,-5030053,...,13157638,1397118,5852658,63742476,40223057,15074740,356500,0,166948853,20315200
q1_4,-79744,255778,609768,0,0,850817,-85769,-4546880,83963,-5776491,...,13126250,1401084,5828576,63440039,39942713,15148605,356500,0,166759628,20390928

In [56]:
df.columns=df.iloc[0]

In [57]:
df.columns

Index(['tax_effect_of_unusual_items', 'reconciled_depreciation',
       'reconciled_cost_of_revenue', 'net_interest_income', 'interest_income',
       'total_expenses', 'tax_provision', 'other_income_expense',
       'other_non_operating_income_expenses', 'special_income_charges',
       'other_special_charges', 'write_off', 'impairment_of_capital_assets',
       'restructuring_and_m&a', 'gain_on_sale_of_security',
       'net_non_operating_interest_income_expense', 'total_other_finance_cost',
       'interest_income_non_operating',
       'depreciation_and_amortization_in_income_statement',
       'selling_general_and_administration', 'cost_of_revenue',
       'total_revenue', 'invested_capital', 'working_capital',
       'capital_lease_obligations', 'retained_earnings', 'common_stock',
       'other_non_current_liabilities', 'derivative_product_liabilities',
       'non_current_deferred_revenue', 'long_term_capital_lease_obligation',
       'other_current_liabilities', 'current_deferred_revenue',
       'current_capital_lease_obligation',
       'pensionand_other_post_retirement_benefit_plans_current',
       'payables_and_accrued_expenses', 'current_accrued_expenses',
       'accounts_payable', 'other_non_current_assets',
       'non_current_prepaid_assets', 'financial_assets',
       'other_intangible_assets'],
      dtype='object', name='quarter_day_label')

In [58]:
df = df[1:]

In [59]:
df

quarter_day_label,tax_effect_of_unusual_items,reconciled_depreciation,reconciled_cost_of_revenue,net_interest_income,interest_income,total_expenses,tax_provision,other_income_expense,other_non_operating_income_expenses,special_income_charges,...,current_deferred_revenue,current_capital_lease_obligation,pensionand_other_post_retirement_benefit_plans_current,payables_and_accrued_expenses,current_accrued_expenses,accounts_payable,other_non_current_assets,non_current_prepaid_assets,financial_assets,other_intangible_assets
q1_1,-92628,249593,726156,0,0,1105282,-69538,-4303428,75224,-6283549,...,13220399,1389204,5900799,64347348,40783752,14927002,356500,0,167327302,20163749
q1_2,-86829,295426,617270,0,0,998330,-67355,-5002715,59177,-5938779,...,13189016,1393163,5876728,64044908,40503402,15000866,356500,0,167138077,20239479
q1_3,-75074,284126,550131,0,0,1145334,-75659,-5049685,83940,-5030053,...,13157638,1397118,5852658,63742476,40223057,15074740,356500,0,166948853,20315200
q1_4,-79744,255778,609768,0,0,850817,-85769,-4546880,83963,-5776491,...,13126250,1401084,5828576,63440039,39942713,15148605,356500,0,166759628,20390928
q1_5,-93119,298705,628772,0,0,931185,-73783,-3972094,61068,-6163793,...,13094873,1405046,5804494,63137588,39662367,15222478,356500,0,166570394,20466652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
q3_88,-22588,684132,520602,0,0,1343109,-37514,-1199176,89281,-803749,...,13151345,2294681,9697834,85163247,64243722,20919526,356500,10534000,113603844,35955708
q3_89,-21463,699633,506575,0,0,1731310,-31230,-1210180,80986,-1137209,...,13120309,2298596,9740699,85528947,64536369,20992579,356500,10534000,113416690,36063573
q3_90,-23010,732228,593623,0,0,1612524,-41239,-990986,83684,-1128129,...,13089265,2302514,9783570,85894647,64829018,21065637,356500,10534000,113229541,36171429
q3_91,-20692,662322,695095,0,0,1682582,-38841,-911687,60535,-1119492,...,13058226,2306434,9826437,86260349,65121663,21138693,356500,10534000,113042402,36279285
q3_92,-15048,1777417,328903,0,0,1277671,-45369,-2144198,110173,-1554693,...,13027200,2310350,9869300,86626050,65414300,21211750,356500,10534000,112855250,36387150

In [60]:
df.tail()

quarter_day_label,tax_effect_of_unusual_items,reconciled_depreciation,reconciled_cost_of_revenue,net_interest_income,interest_income,total_expenses,tax_provision,other_income_expense,other_non_operating_income_expenses,special_income_charges,...,current_deferred_revenue,current_capital_lease_obligation,pensionand_other_post_retirement_benefit_plans_current,payables_and_accrued_expenses,current_accrued_expenses,accounts_payable,other_non_current_assets,non_current_prepaid_assets,financial_assets,other_intangible_assets
q3_88,-22588,684132,520602,0,0,1343109,-37514,-1199176,89281,-803749,...,13151345,2294681,9697834,85163247,64243722,20919526,356500,10534000,113603844,35955708
q3_89,-21463,699633,506575,0,0,1731310,-31230,-1210180,80986,-1137209,...,13120309,2298596,9740699,85528947,64536369,20992579,356500,10534000,113416690,36063573
q3_90,-23010,732228,593623,0,0,1612524,-41239,-990986,83684,-1128129,...,13089265,2302514,9783570,85894647,64829018,21065637,356500,10534000,113229541,36171429
q3_91,-20692,662322,695095,0,0,1682582,-38841,-911687,60535,-1119492,...,13058226,2306434,9826437,86260349,65121663,21138693,356500,10534000,113042402,36279285
q3_92,-15048,1777417,328903,0,0,1277671,-45369,-2144198,110173,-1554693,...,13027200,2310350,9869300,86626050,65414300,21211750,356500,10534000,112855250,36387150

In [61]:
from datetime import datetime, timedelta

date_range = pd.date_range("01/04/2022", datetime.strptime("01/01/2023", "%d/%m/%Y") - timedelta(days=1), freq='d')

date_column=pd.Series(date_range,name="Date")

In [90]:
df1=df

In [96]:
df1["Date"]=pd.date_range("01/04/2022", datetime.strptime("06/10/2022", "%d/%m/%Y") - timedelta(days=1), freq='d')

In [100]:
df1.columns

Index(['tax_effect_of_unusual_items', 'reconciled_depreciation',
       'reconciled_cost_of_revenue', 'net_interest_income', 'interest_income',
       'total_expenses', 'tax_provision', 'other_income_expense',
       'other_non_operating_income_expenses', 'special_income_charges',
       'other_special_charges', 'write_off', 'impairment_of_capital_assets',
       'restructuring_and_m&a', 'gain_on_sale_of_security',
       'net_non_operating_interest_income_expense', 'total_other_finance_cost',
       'interest_income_non_operating',
       'depreciation_and_amortization_in_income_statement',
       'selling_general_and_administration', 'cost_of_revenue',
       'total_revenue', 'invested_capital', 'working_capital',
       'capital_lease_obligations', 'retained_earnings', 'common_stock',
       'other_non_current_liabilities', 'derivative_product_liabilities',
       'non_current_deferred_revenue', 'long_term_capital_lease_obligation',
       'other_current_liabilities', 'current_deferred_revenue',
       'current_capital_lease_obligation',
       'pensionand_other_post_retirement_benefit_plans_current',
       'payables_and_accrued_expenses', 'current_accrued_expenses',
       'accounts_payable', 'other_non_current_assets',
       'non_current_prepaid_assets', 'financial_assets',
       'other_intangible_assets', 'Date'],
      dtype='object', name='quarter_day_label')

In [101]:
columns = df1.columns.tolist()
columns = [columns[-1]] + columns[:-1]
df1 = df1[columns]

In [103]:
df1["net_interest_income"].unique()

array([0, '0', 40020, 45241], dtype=object)

In [105]:
df1["net_interest_income"].value_counts()

0        244
40020     12
45241     10
0          9
Name: net_interest_income, dtype: int64